{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Erreur 404</h1>
            <p class="lead">La page que vous avez demandée n'a pas été trouvée.</p>
            <hr class="my-4">
            <p>Vérifiez l'URL et réessayez.</p>
            <a class="btn btn-primary btn-lg" href="{{ path('app_index') }}" role="button">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}